.dashboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
    height:100vh;
    background-size: cover;
    
}
.iplLogoContainer{
    display: flex;
   
}
.iplLogo{
    height:6vh;
    margin-right:10px;
}
.iplDashboardText{
    font-size: 50px;
    margin: 0px;
    font-family:serif;
    color: #ffffff;
    font-weight: 700;
}

.teamsContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width:70vw;
    padding-left:25vh;;
   
}
.teamNamesContainer{
    display: flex;
    width:20vw;
    background-color:  #1e293b;
    margin:20px;
    padding:20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ffffff;   
}


.teamLogo{
    height:10vh;
    margin-right: 0px;;

}

.teamName{
    font-size: 20px;
    width:14vw;
    color:#ffffff;
    font-weight:bolder;
    align-items: center;
    text-align: center;
    font-family: sans-serif;

}
