.bgContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
    height:100vh;
    background-size: cover;
}
.errorMessage{
    font-size:50px;
    color:#ffffff;
    font-family: sans-serif;
    font-weight: bolder;
}