.opponentTeamcontainer{
    background-color:#1e293b;
    display:flex;
    flex-direction: column;
    width:14vw;
    justify-content: center;
    align-items: center;
   text-align: center;
    margin: 3vh;
    border-radius: 10px;
    padding:2vh;
}
.competingTeamLogo{
    height:10vh;
    width:10vw;
}
.competingTeam{
    color:#ffffff;
    font-size:15px;
    font-weight: 700;
    font-family:Roboto;
}
.competingTeamHeading{
    font-size: 20px;
    color:#ffffff;
    font-weight: 700;
    font-family: sans-serif;
    margin-top:30px;
    
}
.won{
    color:#18ed66;
    font-size:20px;
    font-weight: bold;
    font-family:Roboto;

}
.lost{
    color: #e31a1a;
    font-size:20px;
    font-weight: 700;
    font-family:Roboto;
}