.body{
    background-color: #5755a7;
    height:fit-content;
    background-size: cover;
    
}
.TeamBannerImage{
   margin:2vh;
   width:98vw;
   height:30vh;
}
.recantMatchDetailContainer{
    background-color: #1e293b;
    margin:2vh;
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;

   

}
.matchesResultDetails{
    display: flex;
     flex-wrap: wrap; 
}
.latestMatchText{
    color:#ffffff;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    margin-left:3vh;
    margin-bottom: 0px;
    
}
.recantTeamMatchPlayedDetailsEnd{
    color:#ffffff;
    font-size: 15px;
    text-align: end;
    font-weight: 700;
}
.recantTeamMatchPlayedDetailsStartHeading{
    font-size: 25px;
    color:#ffffff;
    font-weight: 700;
    font-family: sans-serif;
    margin:20px;
    
}
.recantTeamMatchPlayedDetailsStart{
    color:#ffffff;
    font-size: 15px;
    text-align: Start;
    font-weight: 700;
    margin:20px;
    font-family: sans-serif;
}
.latestMatchInternalContainer{
    margin:25px;
  
}
.recentTeamLogo{
    height:30vh;
}
